html{
  height: 100%;
}

body{
  height: 100%;
}

#root{
  height: 100%;
}

.App{
  height: 100%;
  display: flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;
}

h1{
  display: flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;
  margin: 20px;
  text-align: center;
  color: #FF6600;
}